@require 'nib'
@require 'jeet'

navColor = rgba(255, 255, 255, .5)
textColor = #171717
activeTextColor = #000
activeNavColor = rgba(250, 250, 250, 1)
navHeight = 75px

.navbar-component
  col(1/1)
  transition: all .5s
  z-index: 2
  position: relative
  overflow: hidden
  min-height: navHeight
  background-color: navColor
  color: textColor
  text-align: center
  .title
    absolute: top 15px left 30px
    font-size: 40px

  .inner
    transition: all .5s
    display: inline-block

    a
      transition: all .5s
      min-width: 150px
      height: navHeight
      line-height: navHeight
      display: inline-block
      font-size: 1.2em
      text-align: center
      outline: none
      color: inherit
      text-decoration: none
      border-bottom: 3px solid rgba(0, 0, 0, 0)
      &:hover
        border-bottom: 3px solid #cdcdcd

      &.active
        color: activeTextColor
        background: activeNavColor
        border-bottom: 3px solid #262626

  .navbar-button
    display: none

  @media all and (max-width: 700px)
    .inner
      margin-top: 70px
      overflow: hidden
      a
        width: 100%
        border-bottom: none !important
        &:active, &.active
          background: rgba(200, 200, 200, 1) !important

    .navbar-button
      absolute: top 12px right 12px
      display: block
      width: 50px
      height: 50px
      background: #efefef
      .bar
        width: 80%
        height: 10%
        margin-left: 10%
        margin-top: 17%
        background: #262626
