@require 'nib'
@require 'jeet'


.info-component
  center()
  min-height: 100vh
  background-color: #fff

  .title
    col(1/1)
    center()
    text-align: center
    text-transform: uppercase
    font-size: 2.8em
    margin-bottom: 100px

  .info
    margin-bottom: 100px
    text-align: center
    font-size: 25px

    .info-header
      col(1/1)
      font-size: 2rem
