@require 'nib'

.background-component
  position: fixed
  height: 110%
  width: 110%
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  overflow: hidden
  //background-attachment: fixed
  z-index: -100